
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //Meta-Tags -->
    <!-- Style -->
    <link href="~/Content/css/style-Login.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <h1>登录</h1>

    <div class="container w3layouts agileits">
        <div class="login w3layouts agileits">
            <form action="/User/Login" method="post">
                <h2>登 录</h2>
                <input type="text" Name="UserName" placeholder="用户名" required="">
                <input type="password" Name="Password" placeholder="密码" required="">

                <ul class="tick w3layouts agileits">
                    <li>
                        <input type="checkbox" id="brand1" value="">
                        <label for="brand1"><span></span>记住我</label>
                    </li>
                </ul>
                <div class="send-button w3layouts agileits">
                    <input type="submit" value="登 录">
                </div>
            </form>
            <div class="clear"></div>
        </div>
        <div class="register w3layouts agileits">
            <h2>注 册</h2>
            <form action="#" method="post">
                <input type="text" Name="Name" placeholder="用户名" required="">
                <input type="password" Name="Password" placeholder="密码" required="">
                <input type="text" Name="Phone Number" placeholder="确认密码" required="">
            </form>
            <div class="send-button w3layouts agileits">
                <form>
                    <input type="submit" value="免费注册">
                </form>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>

    </div>
</body>
</html>
