
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Share/_Layout.cshtml";
}

<section class="staff-block">
    <div class="container">
        <div class="text-head">
            <h1>meet our chef</h1>
        </div>
        <div class="height-135"></div>
        <div data-ride="carousel" class="carousel slide" id="myCarousel6">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="staff-image">
                                <img class="img-responsive" src="/Content/images/Home/Image21.png">
                                <div class="overlay">
                                    <a href="#" class="info">Pedro Araez</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="staff-image">
                                <img class="img-responsive" src="/Content/images/Home/Image22.png">
                                <div class="overlay">
                                    <a href="#" class="info">Fidel Martin</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="staff-image">
                                <img class="img-responsive" src="/Content/images/Home/Image23.png">
                                <div class="overlay">
                                    <a href="#" class="info">Henry Jurk</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="staff-image">
                                <img class="img-responsive" src="/Content/images/Home/Image24.png">
                                <div class="overlay">
                                    <a href="#" class="info">Jules Boutin</a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="staff-image">
                                <img class="img-responsive" src="/Content/images/Home/Image21.png">
                                <div class="overlay">
                                    <a href="#" class="info">Pedro Araez</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="staff-image">
                                <img class="img-responsive" src="/Content/images/Home/Image22.png">
                                <div class="overlay">
                                    <a href="#" class="info">Fidel Martin</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="staff-image">
                                <img class="img-responsive" src="/Content/images/Home/Image23.png">
                                <div class="overlay">
                                    <a href="#" class="info">Henry Jurk</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="staff-image">
                                <img class="img-responsive" src="/Content/images/Home/Image24.png">
                                <div class="overlay">
                                    <a href="#" class="info">Jules Boutin</a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
            <a class="left carousel-control" href="#myCarousel6" data-slide="prev"> <img src="/Content/images/icons/prev.png" onmouseover="this.src = '/Content/images/icons/prev-hover.png'" onmouseout="this.src = '/Content/images/icons/prev.png'" alt="left"></a>
            <a class="right carousel-control" href="#myCarousel6" data-slide="next"><img src="/Content/images/icons/next.png" onmouseover="this.src = '/Content/images/icons/next-hover.png'" onmouseout="this.src = '/Content/images/icons/next.png'" alt="left"></a>

        </div>
    </div>
</section>

<!--subscribe-->
<section class="subscribe-block">
    <div class="subscribe-full-image">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <div class="subscribe-info">
                        <h2>subscribe newsletter</h2>
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="subscribe-form">
                        <form>
                            <input type="text" placeholder="Email id">
                            <button class="submit-btn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>


