
@{
    ViewBag.Title = "Envent";
    Layout = "~/Views/Share/_Layout.cshtml";
}
<section class="book-block">
    <div class="container">
        <div class="text-head">
            <h1>UPCOMING EVENTS</h1>
        </div>
        <div class="height-135"></div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="event-image">
                    <a href="single-blog.html"><img src="images/Home/Image18.png" class="img-responsive"></a>
                </div>
                <div class="blog-views">
                    <h4><a href="single-blog.html">lorem ipsum dolor sit amet</a></h4>
                    <p>25 Dec 2014</p>
                </div>
                <div class="event-desc">
                    <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus musdhe Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoq penatibus et magnis dis parturient montes, nascetur ridiculus...</p>
                </div>
                <a class="read-more">Read More</a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 margin-t15">
                <div class="event-image">
                    <a href="single-blog.html"><img src="images/Home/Image19.png" class="img-responsive"></a>
                </div>
                <div class="blog-views">
                    <h4> <a href="single-blog.html">lorem ipsum dolor sit amet</a></h4>
                    <p>25 Dec 2014</p>
                </div>
                <div class="event-desc">
                    <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus musdhe Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoq penatibus et magnis dis parturient montes, nascetur ridiculus...</p>
                </div>
                <a class="read-more">Read More</a>
            </div>
        </div>

    </div>
    <div class="clearfix"></div>
</section>

<!--subscribe-->
<section class="subscribe-block">
    <div class="subscribe-full-image">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <div class="subscribe-info">
                        <h2>subscribe newsletter</h2>
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="subscribe-form">
                        <form>
                            <input type="text" placeholder="Email id">
                            <button class="submit-btn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>


