
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Share/_Layout.cshtml";
}
<section class="food-block">
    <div class="container">
        <div class="text-head">
            <h1>food lover menu</h1>
        </div>
    </div>
    <div class="height-135"></div>
    <div class="pos-center">
        <ul class="nav nav-pills center-pills">
            <li class="active"><a href="#all" data-toggle="pill">ALL</a></li>
            <li><a href="#dishes" data-toggle="pill">dishes</a></li>
            <li><a href="#dinner" data-toggle="pill">dinner</a></li>
            <li><a href="#lunch" data-toggle="pill">lunch</a></li>
            <li><a href="#drinks" data-toggle="pill">drinks</a></li>
            <li><a href="#starters" data-toggle="pill">starters</a></li>
        </ul>
    </div>
    <div class="height-70"></div>
    <div class="container">
        <div class="tab-content">
            <div class="tab-pane fade in active" id="all">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <div class="food-image">
                            <img src="/Content/images/Home/Image5.png" class="img-responsive" />
                            <div class="overlay">
                                <a href="#" class="info pop"><img alt="1" class="img-responsive" src="/Content/images/Home/Image5.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <div class="food-image">
                            <img src="/Content/images/Home/Image6.png" class="img-responsive" />
                            <div class="overlay">
                                <a href="#" class="info pop"><img alt="1" class="img-responsive" src="/Content/images/Home/Image6.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <div class="food-image">
                            <img src="/Content/images/Home/Image7.png" class="img-responsive" />
                            <div class="overlay">
                                <a href="#" class="info pop"><img alt="1" class="img-responsive" src="/Content/images/Home/Image7.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <div class="food-image">
                            <img src="/Content/images/Home/Image8.png" class="img-responsive" />
                            <div class="overlay">
                                <a href="#" class="info pop"><img alt="1" class="img-responsive" src="/Content/images/Home/Image8.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 visible-md"><div class="height-70"></div></div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <div class="food-image">
                            <img src="/Content/images/Home/Image9.png" />
                            <div class="overlay">
                                <a href="#" class="info pop"><img alt="1" class="img-responsive" src="/Content/images/Home/Image9.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <div class="food-image">
                            <img src="/Content/images/Home/Image10.png" />
                            <div class="overlay">
                                <a href="#" class="info pop"><img alt="1" class="img-responsive" src="/Content/images/Home/Image10.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <div class="food-image">
                            <img src="/Content/images/Home/Image11.png" />
                            <div class="overlay">
                                <a href="#" class="info pop"><img alt="1" class="img-responsive" src="/Content/images/Home/Image11.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <div class="food-image">
                            <img src="/Content/images/Home/Image12.png" />
                            <div class="overlay">
                                <a href="#" class="info pop"><img alt="1" class="img-responsive" src="/Content/images/Home/Image12.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="tab-pane fade" id="dishes">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="food-image">
                        <img src="/Content/images/Home/Image6.png" />
                        <div class="overlay">
                            <a href="#" class="info pop"><img alt="1" class="img-responsive" src="/Content/images/Home/Image6.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="food-image">
                        <img src="/Content/images/Home/Image7.png" />
                        <div class="overlay">
                            <a href="#" class="info pop"><img alt="1" class="img-responsive" src="/Content/images/Home/Image7.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="food-image">
                        <img src="/Content/images/Home/Image8.png" />
                        <div class="overlay">
                            <a href="#" class="info pop"><img alt="1" class="img-responsive" src="/Content/images/Home/Image8.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="dinner">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="food-image">
                        <img src="/Content/images/Home/Image11.png" />
                        <div class="overlay">
                            <a href="#" class="info pop"><img alt="1" class="img-responsive" src="/Content/images/Home/Image11.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="food-image">
                        <img src="/Content/images/Home/Image12.png" />
                        <div class="overlay">
                            <a href="#" class="info pop"><img alt="1" class="img-responsive" src="/Content/images/Home/Image12.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="lunch">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="food-image">
                        <img src="/Content/images/Home/Image10.png" />
                        <div class="overlay">
                            <a href="#" class="info pop"><img alt="1" class="img-responsive" src="/Content/images/Home/Image10.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="food-image">
                        <img src="/Content/images/Home/Image11.png" />
                        <div class="overlay">
                            <a href="#" class="info pop"><img alt="1" class="img-responsive" src="/Content/images/Home/Image11.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="food-image">
                        <img src="/Content/images/Home/Image12.png" />
                        <div class="overlay">
                            <a href="#" class="info pop"><img alt="1" class="img-responsive" src="/Content/images/Home/Image12.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="drinks">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="food-image">
                        <img src="/Content/images/Home/Image5.png" />
                        <div class="overlay">
                            <a href="#" class="info pop"><img alt="1" class="img-responsive" src="/Content/images/Home/Image5.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="food-image">
                        <img src="/Content/images/Home/Image6.png" />
                        <div class="overlay">
                            <a href="#" class="info pop"><img alt="1" class="img-responsive" src="/Content/images/Home/Image6.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="food-image">
                        <img src="/Content/images/Home/Image7.png" />
                        <div class="overlay">
                            <a href="#" class="info pop"><img alt="1" class="img-responsive" src="/Content/images/Home/Image7.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="food-image">
                        <img src="/Content/images/Home/Image8.png" />
                        <div class="overlay">
                            <a href="#" class="info pop"><img alt="1" class="img-responsive" src="/Content/images/Home/Image8.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="starters">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="food-image">
                        <img src="/Content/images/Home/Image10.png" />
                        <div class="overlay">
                            <a href="#" class="info pop"><img alt="1" class="img-responsive" src="/Content/images/Home/Image10.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="food-image">
                        <img src="/Content/images/Home/Image11.png" />
                        <div class="overlay">
                            <a href="#" class="info pop"><img alt="1" class="img-responsive" src="/Content/images/Home/Image11.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="food-image">
                        <img src="/Content/images/Home/Image12.png" />
                        <div class="overlay">
                            <a href="#" class="info pop"><img alt="1" class="img-responsive" src="/Content/images/Home/Image12.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <div id="myCarousel3" class="carousel slide" data-ride="carousel">

                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="image">
                                        <img src="" class="img-responsive imagepreview">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="image">
                                        <img src="/Content/images/Home/Image6.png" class="img-responsive">
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                    <a data-slide="prev" href="#myCarousel3" class="left carousel-control"> <img alt="left" onmouseout="this.src = '/Content/images/icons/prev.png'" onmouseover="this.src = '/Content/images/icons/prev-hover.png'" src="/Content/images/icons/prev.png"></a>
                    <a data-slide="next" href="#myCarousel3" class="right carousel-control"><img alt="left" onmouseout="this.src = '/Content/images/icons/next.png'" onmouseover="this.src = '/Content/images/icons/next-hover.png'" src="/Content/images/icons/next.png"></a>

                </div>
            </div>
        </div>
    </div>



    <div class="clearfix"></div>
</section>

<!--subscribe-->
<section class="subscribe-block">
    <div class="subscribe-full-image">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <div class="subscribe-info">
                        <h2>subscribe newsletter</h2>
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="subscribe-form">
                        <form>
                            <input type="text" placeholder="Email id">
                            <button class="submit-btn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>
